.full_popup {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 101;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  
  & > * {
    grid-area: 1/1;
  }
  &__bg {
    height: 100vh;
    width: 100vw;
  }
  
  .btn {
    margin-top: 2rem;
    align-self: flex-start;
    justify-self: flex-end;
  }
  
  &__content {
    margin: auto;
    background-color: white;
    border-radius: 1rem;
    overflow: hidden;

    // max-height: 80vh;
    // max-width: 80vw;
    min-height: 200px;
    min-width: 350px;

    .block_popup {
        height: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        &__title {
            font-size: 2rem;
        }
        &__btns {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            &__block {
                background-color: red;
            }
        }
    }
  }

  &__hidden {
    display: none;
  }
  &__display {
    display: grid;
  }
}
