* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 0;
  margin: 0;
  user-select: none; }

body {
  height: 100vh;
  width: 100vw; }

::-webkit-scrollbar {
  width: 6px; }
  ::-webkit-scrollbar-track {
    background: #f1f1f1; }
  ::-webkit-scrollbar-thumb {
    background: #888; }
    ::-webkit-scrollbar-thumb:hover {
      background: #555; }

img {
  height: 100px;
  width: 100px;
  object-fit: cover;
  object-position: 50% 30%;
  border-radius: 50%; }

a {
  color: inherit;
  text-decoration: inherit; }

::root {
  background-color: #fafafa;
  color: #212121; }

h1 {
  color: #ffffff; }

h2 {
  color: LIGHT_PRIMARY_COLOR; }

html {
  font-size: 15px; }

h1 {
  font-size: 2rem; }

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: scroll; }
  .app .page {
    position: relative;
    top: 10vh; }

.main_page {
  display: flex;
  flex-direction: column;
  align-items: center; }

.project_item {
  width: 80vw;
  margin-top: 1rem;
  padding: 1rem;
  background-color: #bbdefb;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 1rem; }

.done {
  opacity: 0.5;
  background-color: #bdbdbd; }

.project_icons {
  font-size: 1.5rem; }
  .project_icons__icon {
    color: #212121;
    padding: 1rem;
    cursor: pointer; }
    .project_icons__icon:hover {
      opacity: 0.5; }

.view_project {
  margin: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  gap: 1rem; }
  .view_project img {
    width: 200px;
    height: 200px; }
  .view_project__data div {
    user-select: text; }
  .view_project__tasks {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem; }
  @media only screen and (max-width: 1024px) {
    .view_project {
      display: flex;
      flex-direction: column; } }

.edit_project {
  margin: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 1rem; }
  .edit_project img {
    margin: auto;
    width: 200px;
    height: 200px; }
  .edit_project .edit_tasks {
    margin: 5rem;
    display: flex;
    flex-flow: row wrap;
    gap: 1rem; }
  .edit_project .btn {
    margin: auto; }
  @media only screen and (max-width: 1024px) {
    .edit_project {
      display: flex;
      flex-direction: column; } }

.edit_tasks__task {
  display: grid; }

.top_bar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  width: calc(100% - 6px);
  background-color: #1976d2;
  position: fixed;
  z-index: 10; }
  .top_bar__icons {
    margin-right: 2rem;
    margin-top: 0.5rem;
    position: absolute;
    left: calc(100% - 10rem); }
    .top_bar__icons .icon {
      color: #ffffff;
      margin: 0 0.5rem;
      padding: 1rem;
      border-radius: 50%;
      background-color: #2196f3;
      cursor: pointer; }
      .top_bar__icons .icon:hover {
        opacity: 0.8; }
      .top_bar__icons .icon:active {
        color: #ffffff; }
  @media only screen and (max-width: 767px) {
    .top_bar {
      justify-content: flex-start; }
      .top_bar__title {
        margin: 1rem; } }

.btn {
  color: #212121;
  width: fit-content;
  padding: 1rem 2rem;
  border-radius: 1rem;
  background-color: #2196f3;
  cursor: pointer; }
  .btn:hover {
    opacity: 0.8; }

.input_wrapper {
  margin-top: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem; }
  .input_wrapper__input {
    padding: 0.1rem 0.5rem;
    border: 1px solid black;
    border-radius: 0.3rem;
    margin-left: 0.5rem;
    width: 60%;
    height: auto; }
    .input_wrapper__input:focus {
      outline: none; }

.full_popup {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 101;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr; }
  .full_popup > * {
    grid-area: 1/1; }
  .full_popup__bg {
    height: 100vh;
    width: 100vw; }
  .full_popup .btn {
    margin-top: 2rem;
    align-self: flex-start;
    justify-self: flex-end; }
  .full_popup__content {
    margin: auto;
    background-color: white;
    border-radius: 1rem;
    overflow: hidden;
    min-height: 200px;
    min-width: 350px; }
    .full_popup__content .block_popup {
      height: 200px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around; }
      .full_popup__content .block_popup__title {
        font-size: 2rem; }
      .full_popup__content .block_popup__btns {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around; }
        .full_popup__content .block_popup__btns__block {
          background-color: red; }
  .full_popup__hidden {
    display: none; }
  .full_popup__display {
    display: grid; }

.yes_no_popup {
  height: 200px;
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .yes_no_popup span {
    font-size: 2rem; }
  .yes_no_popup div {
    display: flex;
    gap: 1rem; }
    .yes_no_popup div > * {
      margin-top: 1rem;
      padding: 1rem 2rem;
      border-radius: 1rem;
      cursor: pointer; }
      .yes_no_popup div > *:hover {
        opacity: 0.5; }
    .yes_no_popup div .yes {
      background-color: #80ff80; }
    .yes_no_popup div .no {
      background-color: #ff8080; }

.loading {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }
